body{
    background: #64b9ee;
}

.title{
    background: url(img/Slide1.PNG);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px 0 0 0; 
}
.box{
    display: block;
    margin: 0 0 10px  0;
}
.logo{
    display: inline-block;
    vertical-align: middle;
    margin: 0 20px;
}
.logo img{
    height: 70px;
}
.navegar{
    display: inline-block;
    position: absolute;
    top: 70px;
    right: 20px;
}
.navegar li{
    display: inline;
    margin: 0 0 0 10px;
}
.navegar a{
    text-transform: uppercase;
    color: #e1c1a4;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}
.navegar a:hover{
    color: #edcf2e;
    text-decoration: underline;
}

.barra{
    background-color: #955f26;
    height: 10px;
}

main{
    height: 400px;
}
.text{
    text-align: center;
    vertical-align: middle;
    color: #955f26;
    font-size: xx-large;
    margin: 50px 20px;
}

footer{
    background: #e1c1a4;
    height: auto;
}
.logoB img{
    height: 100px;
    width: 16%;
    height: auto;
    margin: 20px 41% ;
}
.credits p{
    text-align: center;
    color: #955f26;
    font-size: 16px;
    padding: 10px 0;
}